<%- include('./partials/navbar.ejs') %>
    <div class="w-full px-20 py-10">
        <h1 class="text-3xl mb-4">Hey, <%= user.name %> 👋🏻 </h1>
        <h3 class="opacity-50 mb-5">showing all hisaabs, till now.</h3>
        <div class="flex gap-2">
            <% user.hisaab.forEach(function(hisaab){ %>
                <div class="bg-zinc-300 p-4">
                    <h3>
                        <%= hisaab.title %>
                    </h3>
                    <h5 class="opacity-50">
                        <%= hisaab.shareable %>
                    </h5>
                </div>
                <% }) %>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>